.login button {
    cursor: pointer;
    display: block;
    font-size: 1.3em;
    font-weight: 700;
    box-sizing: content-box;
    margin: 20px auto 0px;
    width: 70%;
    padding: 15px 20px;
    border-radius: 24px;
    border-color: transparent;
    background-color: white;
    color: #1C3879;
    /* box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.1); */
    box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);
    position: relative;
}

.swal-footer { text-align: center; }

.swal-button{
    padding: 7px 19px;
    border-radius: 2px;
    background: #1C3879 !important;
    text-align: center;
}

.login .icon {
    max-width: 7%;
    margin: 2%;
}
.modal-backdrop.show {
  /* opacity: 0 ; */
  background: rgba(0, 0, 1, 0.4);
} 