.box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3% 0% 3% 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box1 img {
    max-width: 100%;
}

.box1 figimage {
    display: inline-block;
    width: 12vw;
}


.figure-caption:hover {
    color: black;
}

.box1 .figure-caption {
    font-family: bold;
    font-size:large;
    color: rgb(0, 0, 0);
    text-align: center;
}
.Mindfulness_logo{
    height:10%;
    width: 85%;
    margin-top : 10%;
    padding-bottom : 5.8%;
    margin-left: 10%;


}
 .Meditation_logo{
    height:10%;
    width: 150%;
    padding-bottom:0%;
    margin-top:5%;
    
} 
.Therapy_logo{
    height:10%;
    width: 85%;
    margin-top : 10%;
    padding-bottom : 4%;
    margin-left: 10%;

}
