.center {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.div-items {
    display: flex;
    width: auto;
    height: auto;
}
.div-items img {
    margin-right: 20vh; 
    height: 150px;
    width: 150px;
    justify-content: space-between;
}
.profile {
    margin-right: 20vh;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
}
.text-styling {
    text-shadow: 1px 1px 2px rgba(91, 25, 97, 0.74);
    padding-left: 3vh;
    padding-top: 8vh;
}
.rating-circle {
    height: 150px;
    width: 150px;
    background-image: linear-gradient(to right, rgba(80, 80, 152, 0.621) , rgba(108, 13, 81, 0.557));
    border-radius: 50%;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.rating-circle h1 {
    text-align: center;
    padding-top: 8vh;
    text-shadow: 1px 1px 2px rgba(91, 25, 97, 0.74);
}
.text-align {
    text-align: center;
}
.para-style {
    text-align: center;
    font-weight: bold;
}


.btn{
    background-color: #1C3879;
    color: white;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 500;
    font-size: large;
    padding: 1%;
}
.btn:hover{
    background-color: rgb(5, 81, 120);
    color: white;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 500;
    font-size: large;
    padding: 1%;
}
.container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-direction: row;
    margin-top:2%;
    margin-left:7%;
    margin-right:2%;
    margin-bottom:2%;
    padding-bottom: 2%;
    padding-left: 10%;
}
.header{
   padding-bottom:1%;
   padding-top: 1%;
   font-size:20px;
   font-weight:bold;
   text-align: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.l1{
    color:#1C3879;
    text-decoration: none;
    padding-left: 2%;
}
.form-group{
    font-weight:bold;
    padding-top: 4%;
}
.btn-deco{
    padding-top: 4%;
    padding-left: 25%;
}
.form-control{
    padding-bottom:5%;
}
.cont{
    margin-top:2%;
    margin-bottom:2%;
    padding-top:1%;
    padding-bottom:1%;
}
  